// Global styling for this template
body {
  font-family: 'Courier New', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  position: relative;

}

p {
  font-size: 16px;
}

p.small {
  font-size: 16px;
}
a {
  transition: all .2s ease-in-out;
  color: rgba(255,255,255, 0.5);
}
a.active,
a:active,
a:focus,
a:hover {
  // color: $theme-success;
  color: rgba(255,255,255, 0.3);
  outline: none;
  transform: scale(1.1);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

hr.star-light,
hr.star-primary {
  max-width: 250px;
  margin: 25px auto 75px;
  padding: 0;
  text-align: center;
  border: none;
  //border-top: solid 5px;
}
hr.star-light:after,
hr.star-primary:after {
  font-family: FontAwesome;
  font-size: 2em;
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
}

hr.star-light {
  border-color: white;
}
hr.star-light:after {
  color: white;
  //background-color: $theme-success;
}

hr.star-primary {
  //border-color: $theme-primary;
}
hr.star-primary:after {
  //color: $theme-primary;
  //background-color: white;
}

.img-centered {
  margin: 0 auto;
}

section {
  padding: 50px 0;
  h2 {
    font-size: 3em;
    margin: 0;
  }
}

section.about {
  background: transparent;
  color: white;
}

.container {
  background: transparent;
}
// section.success {
//   color: white;
//   background: $theme-success;
// }
@media(max-width:767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}

.scroll-top {
  position: fixed;
  z-index: 1049;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  .btn {
    font-size: 16px;
    line-height: 28px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    &:focus {
      outline: none;
    }
  }
}

.img-profile {
  border: white 15px solid;
  border-radius: 50%;
  height: 300px;
  object-fit: fit;
  transition: all .2s ease-in-out;
} 

.img-profile:hover {
  transform: scale(1.1); 
}

.btn-up {
  position: relative;
  top: -6px;
  left: 0;
  margin-right: 10px;
}

i {
  position: relative;
  top: 2px;
  left: 0;
  transition: all .2s ease-in-out;
}

i:hover {
  color: rgba(255,255,255,0.3);
}

footer {
  color: white;
  background-color: #262b2d;
  padding-top: 25px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  h3 {
    margin-bottom: 30px;
  }
  .footer-above {
    padding-top: 50px;
    background-color: transparent;
  }
  .footer-col {
    margin-bottom: 50px;
  }
  .footer-below {
    padding: 25px 0;
    background-color: transparent;
  }
}


