// Styling for the masthead
header.masthead, section.success{
  padding-top: 5px;
  padding-bottom: -20px;
  text-align: center;
  color: white;
  background: transparent;


  // //
  // font-family: "Courier New", monospaced;
  //   font-size: 15px;
  //   background: linear-gradient(238deg, #fd8800, #fd008f, #9700fd, #003dfd, #05c7e6, #4bd58d);
  //   background-size: 1200% 1200%;
  //   -webkit-animation: dboxRainbow 30s ease infinite;
  //   -moz-animation: dboxRainbow 30s ease infinite;
  //   -o-animation: dboxRainbow 30s ease infinite;
  //   animation: dboxRainbow 30s ease infinite;

  //   -webkit-font-smoothing: subpixel-antialiased;
  // //

  img {
    display: block;
    margin: -90px auto 20px;
  }

  .intro-text {
    .name {
      font-family: 'Work Sans', sans-serif;
      font-size: .5em;
      font-weight: 100;

      display: block;
      padding-top: 45px;
      text-transform: uppercase;
     }
    .skills {
      font-size: 1.25em;
      font-weight: 300;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    padding-top: 150px;
    // padding-bottom: 100px;
    .intro-text {
      .name {
        font-size: 4.75em;
      }
      .skills {
        font-size: 1.75em;
      }
    }
  }
}

@-webkit-keyframes dboxRainbow {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes dboxRainbow {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-o-keyframes dboxRainbow {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes dboxRainbow {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }

  body {
    padding-top: 50px;
    padding-bottom: 0;
      //
    font-family: "Courier New", monospaced;
    font-size: 15px;
    background: linear-gradient(238deg, #fd8800, #fd008f, #9700fd, #0082c8, #05c7e6, #4bd58d);
    background-size: 1200% 1200%;
    -webkit-animation: dboxRainbow 30s ease infinite;
    -moz-animation: dboxRainbow 30s ease infinite;
    -o-animation: dboxRainbow 30s ease infinite;
    animation: dboxRainbow 30s ease infinite;
    -webkit-font-smoothing: subpixel-antialiased;
  //
  }

